@import url('style.css');

.user-item{
    margin: 10px 0px;
    border-radius: 5px;
    padding: 10px 0px 5px 0px;
    cursor: pointer;
}
.user-item img{
    width: 50px;
}
.user-item:hover{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.datepicker td, .datepicker th{font-size: 13px}
.only-botom{
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    border-radius: 0px;
}
.action-i span{margin-left: 10px;color: #000;}

#div_search{
    width: 100%;
    padding: 10px 5px;
    background: white;
    position: absolute;
    border: 1px solid #ccc;
    top: 125%;
    left: 0px;
    display: none;
    min-height: 300px;
    border-radius: 4px;
    z-index: 9999;
}
